
.agent {

  margin-top: 35px;

  @include breakpoint($max: 880px) {

    margin-top: 0;

  }

}

.agent-cover {

  width: 100%;
  height: 400px;
  background-size: cover;

  @include breakpoint($max: 960px) {

    height: 300px;

  }

  @include breakpoint($max: 600px) {

    height: 250px;

  }

}

.agent-sidebar {

  width: 380px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-bottom: 70px;
  margin-top: -110px; 
  position: relative;

  @include breakpoint($max: 960px) {

    width: 100%;
    margin-bottom: 24px;
    margin-top: 0;

  }

  section {

    @include breakpoint($max: 960px) {

      width: 33%;
      display: inline-block;
      vertical-align: middle;

    }

    @include breakpoint($max: 600px) {

      width: 100%;

    }

  }
  

  .agent-profile {

    @include breakpoint($max: 960px) {

      margin-top: -109px;

    }
    

  }

  img {

    width: 216px;
    height: auto;
    border: solid 6px $white;
    border-radius: 50%;

  }

  h1 {

    font-family: $display;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    margin: 24px 0 40px;

  }

  .meta {

    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-family: $sans-serif;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    max-width: 160px;
    margin-bottom: 24px;
    font-weight: bold;

    span {

      display: block;
      font-family: $serif;
      font-weight: $book;
      font-size: 9px;
      letter-spacing: 2px;
      line-height: 9px;
      margin-bottom: 6px;

    }

    a {

      color: $brand;
      font-weight: bold;

    }

    &.full {

      max-width: 100%;
      width: 100%;
      margin-top: 0;
      margin-bottom: 30px;

    }

  }

  .agent-socials {

    margin-bottom: 40px;

    svg {

      height: 20px;
      width: 18px;
      fill: $brand;
      margin: 0 12px;

    }

  }

  .button {

    width: auto;
    padding: 19.5px; 

  }


}

.agent-main {

  width: calc(100% - 380px);
  display: inline-block;
  vertical-align: top;
  margin-top: 70px;
  margin-bottom: 70px;

  @include breakpoint($max: 960px) {

    width: 100%;
    margin-top: 0;
    max-width: 708px;
    margin: 0 auto;
    display: block;

  }

  @include breakpoint($max: 600px) {

    margin-top: 48px;

  }

  .lightbox-trigger {

    font-family: $sans-serif;
    font-size: 15px;
    letter-spacing: .5px;
    color: $brand;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;

    svg {

      width: 14px;
      height: 12px;
      margin-right: 12px;
      fill: $light-grey;

    }

  }

  p {

    font-family: $serif;
    font-weight: $book;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 0;

    a {

      color: $brand;
      font-weight: 500;

    }

  }

  > p:first-of-type {

    font-family: $display;
    font-weight: normal;
    font-size: 32px;
    line-height: 1.3;
    margin: 0;
    margin-top: 32px;

  }

  h2 {

    font-family: $sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.2px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 0;
    text-transform: uppercase;

  }

  .agent-tip {

    background-color: $brand;
    color: $white;
    padding: 40px;
    margin-top: 40px;

    @include breakpoint($max: 600px) {

      padding: 24px;

    }

    h2 {

      color: $white;
      margin: 0;
      font-family: $display;
      font-weight: bold;
      font-size: 16px;

    }

    p {

      font-size: 18px;
      font-family: $serif;
      font-weight: $book;
      line-height: 30px;
      margin-top: 24px;
      margin-bottom: 0;
      text-align: center;

    }

  }

  .agent-blog,
  .agent-review,
  .agent-press {

    margin-top: 40px;

    > h2 {

      font-family: $display;
      font-weight: bold;
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      overflow: hidden;
      margin-bottom: 30px;
      margin-top: 0;

      &:after {

        background-color: $dark-grey;
        content: '';
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: inherit;
        width: 100%;
        bottom: .3em;
        opacity: .4;
        left: 1.5em;
        margin-right: -50%;
        opacity: .35;

      }

    }

    .agent-post {

      width: 50%;
      vertical-align: top;
      display: inline-block;

      @include breakpoint($max: 700px) {

        width: 100%;
        margin-bottom: 30px;

      }

      img {

        width: 104px;
        vertical-align: middle;

      }

      h2 {

        width: calc(100% - 104px);
        padding-left: 20px;
        padding-right: 10px;
        font-family: $display;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.3;
        color: $brand;
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 0;
        margin: 0;
        text-transform: none;

      }

    }

    .post-content {

      width: calc(100% - 104px);
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px 0 20px;

      h3 { 

        margin: 0;
        font-family: $sans-serif;
        font-weight: bold;
        color: $brand;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 30px;
        text-transform: uppercase;

      }

      span {

        font-family: $serif;
        font-weight: $book;
        font-style: italic;
        font-size: 17px;
        line-height: 17px;
        color: $brand;

      }

    }

    .press-item {

      width: 50%;
      padding-right: 12px;
      display: inline-block;
      vertical-align: top;

      h2 {

        font-family: $display;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.3;
        color: $brand;
        display: block;
        letter-spacing: 0;
        margin: 6px 0 0;
        text-transform: none;

      }

      h3 {

        font-family: $serif;
        font-weight: 300;
        font-style: italic;
        font-size: 17px;
        color: $brand;
        line-height: 17px;
        display: inline-block;
        transition: all .3s;
        margin: 0;

        a {

          color: $brand;

          &:visited {

            color: $brand;

          }

        }

      }

    }

  }

  .agent-blog {

    margin-bottom: 70px;

  }

  .agent-review {

    margin-bottom: 70px;

    @include breakpoint($max: 700px) {

      margin-bottom: 40px;

    }

  }

  // .agent-blog + .agent-review,
  // .agent-blog + .agent-press,
  // .agent-review + .agent-press {

  //   margin-top: -30px;

  // }

}

.agent-press {

  margin-bottom: 70px;

}

.agent {

  &.no-cover {

    border-top: solid 1px rgba($dark-grey, .15);
    padding-top: 50px;

    .agent-cover {

      display: none;

    }

    .agent-sidebar {

      margin-top: 0;

    }

    .agent-profile {

      @include breakpoint($max: 960px) {

        margin-top: 0;

      }

    }

    .agent-main {

      margin-top: 0;

    }

  }

}

.agent-lightbox {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($brand, .86);
  z-index: 999999999;
  display: none; 

  figure {

    display: none;

    &:first-of-type {

      display: inline-block;

    }

  }

  img {

    @include alignment(absolute, center);
    max-width: calc(100% - 96px);
    max-height: calc(100% - 96px);
    width: auto;
    height: auto;
    z-index: 10;
    margin: 0;

    @include breakpoint($max: 700px) {

      max-width: calc(100% - 48px);
      max-height: calc(100% - 48px);

    }

    @include breakpoint($max: 500px) {

      max-width: calc(100% - 24px);
      max-height: calc(100% - 24px);
    
    }

    

    // img {

    //   display: block;
    //   max-width: calc(100vw - 96px);
    //   max-height: calc(100vh - 96px);
    //   width: auto;
    //   height: auto;

    // }

    

  }

  figcaption {

    position: fixed;
    bottom: 48px;
    left: 48px;
    color: white;
    width: 150px;
    font-size: 16px;
    line-height: 1.5;
    z-index: 9999;

    @include breakpoint($max: 960px) {

      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba($brand, .5);
      padding: 12px;

    }

  }

  .lb-close-trigger {

    position: absolute;
    top: 48px;
    right: 48px;
    cursor: pointer;
    display: inline-block;
    z-index: 20;

    @include breakpoint($max: 700px) {

      right: 17px;
      top: 41px;

    }

    svg {

      width: 35px;
      height: 35px;
      fill: $white;

      @include breakpoint($max: 700px) {

        width: 20px;
        height: 20px;

      }

    }

  }

  .lb-change-trigger {

    @include alignment(absolute, vertical);
    z-index: 20;
    transition: all .3s;
    padding: 12px;
    cursor: pointer;


    &:hover {

      background-color: rgba($brand, .86);

    }

    &.left {

      left: 48px;

      @include breakpoint($max: 960px) {

        left: 0;

      }

    }

    &.right {

      right: 47px;

      @include breakpoint($max: 960px) {

        right: 0;

      }

    }

    svg {

      width: 45px;
      height: 67px;

      @include breakpoint($max: 960px) {

        height: 48px;
        width: 32px;

      }

    }

  }

}

.agent-testimonials {

  margin-top: 40px;
  text-align: center;

  > h2 {

    font-size: 14px;
    font-weight: bold;
    font-family: $display;
    letter-spacing: 1.5px;
    margin: 0 0 40px;

  }

  .quote-wrap {

    position: relative;

  }

  p {

    margin: 0;
    font-family: $sans-serif;
    font-weight: normal;
    color: $brand;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 0 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .3s; 

    &.active {

      position: static;
      opacity: 1;
      pointer-events: all;

    }

    span {

      font-family: $serif;
      font-weight: 300;
      font-style: italic;
      font-size: 17px;
      line-height: 17px;
      display: block;
      margin-top: 20px;

    }

  }

  .dots {

    margin-top: 30px;
    text-align: center;
    line-height: 0;
    font-size: 0;

    span {

      line-height: 0;
      font-size: 0;
      cursor: pointer;
      width: 14px;
      height: 14px;
      margin: 0 10px;
      background-color: $light-grey;
      border-radius: 50%;
      transition: all .3s;
      display: inline-block;

      &.active {

        background-color: $brand;
        pointer-events: none;

      }

    }

  }

}

.agent-recognition {

  @include justifyed();
  margin-top: 40px;

  > h2 {

    font-size: 14px;
    font-weight: bold;
    font-family: $display;
    letter-spacing: 1.5px;
    margin: 0 0 40px;
    margin-top: 0;
    display: inline-block;
    width: 100%;

  }

  .rec {

    @include justifyed();
    display: inline-block;
    width: calc(50% - 10px);
    vertical-align: middle;
    margin-bottom: 20px;

    @include breakpoint($max: 600px) {

      width: 100%;

    }

    img {

      display: inline-block;
      width: 78px;
      vertical-align: middle;

    }

    h2 {

      display: inline-block;
      width: calc(100% - 98px);
      vertical-align: middle;
      font-family: $sans-serif;
      font-weight: normal;
      font-size: 22px;
      color: $brand;
      line-height: 22px;
      text-transform: uppercase;
      text-align: left;
      margin-top: 0;

      small {

        display: block;
        text-transform: none;
        font-family: $serif;
        font-weight: 300;
        font-style: italic;
        font-size: 17px;
        line-height: 17px;
        margin-bottom: 8px;

      }

    }

  }

}
