// Colours
// -------------------------

$white: #fff;

$line-grey: #ddd;
$lightest-grey: #f5f5f5;
$light-grey: #919191;
$grey: #656565;
$dark-grey: #414141;
//$darkest-grey: #62686d;

$black: #3c4146;
$blacker: #232323;
$tru-black: #000;


$link: $grey;
$text: $black;
$strong: darken($text, 10%);

$brand: #0f3d8b;


// Type
// -------------------------



$serif: 'Trade Gothic LT Pro Cn';
$sans-serif: 'Trade Gothic LT Pro Cn';
$display: 'canela', serif;

$book: 300;
$light: 300; 
$regular: 400;
$bold: 500; 
$heavy: 500;

