@font-face {
  font-family: 'freight-text';
  src: url('fonts/freighttext_bold-webfont.eot');
  src: url('fonts/freighttext_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/freighttext_bold-webfont.woff2') format('woff2'),
       url('fonts/freighttext_bold-webfont.woff') format('woff'),
       url('fonts/freighttext_bold-webfont.ttf') format('truetype'),
       url('fonts/freighttext_bold-webfont.svg#freighttext_boldregular') format('svg');
  font-weight: 500;
  font-style: normal;

}




@font-face {
  font-family: 'freight-text';
  src: url('fonts/freighttext_medium-webfont.eot');
  src: url('fonts/freighttext_medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/freighttext_medium-webfont.woff2') format('woff2'),
       url('fonts/freighttext_medium-webfont.woff') format('woff'),
       url('fonts/freighttext_medium-webfont.ttf') format('truetype'),
       url('fonts/freighttext_medium-webfont.svg#freighttext_mediumregular') format('svg');
  font-weight: 400;
  font-style: normal;

}




@font-face {
  font-family: 'freight-text';
  src: url('fonts/freighttext_bookitalic-webfont.eot');
  src: url('fonts/freighttext_bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/freighttext_bookitalic-webfont.woff2') format('woff2'),
       url('fonts/freighttext_bookitalic-webfont.woff') format('woff'),
       url('fonts/freighttext_bookitalic-webfont.ttf') format('truetype'),
       url('fonts/freighttext_bookitalic-webfont.svg#freighttext_bookitalicregular') format('svg');
  font-weight: 300;
  font-style: italic;

}




@font-face {
  font-family: 'freight-text';
  src: url('fonts/freighttext_book-webfont.eot');
  src: url('fonts/freighttext_book-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/freighttext_book-webfont.woff2') format('woff2'),
       url('fonts/freighttext_book-webfont.woff') format('woff'),
       url('fonts/freighttext_book-webfont.ttf') format('truetype'),
       url('fonts/freighttext_book-webfont.svg#freighttext_bookregular') format('svg');
  font-weight: 300;
  font-style: normal;

}




@font-face {
  font-family: 'freight-display';
  src: url('fonts/freightdispblack-webfont.eot');
  src: url('fonts/freightdispblack-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/freightdispblack-webfont.woff2') format('woff2'),
       url('fonts/freightdispblack-webfont.woff') format('woff'),
       url('fonts/freightdispblack-webfont.ttf') format('truetype'),
       url('fonts/freightdispblack-webfont.svg#freightdispblackregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'freight-display';
  src: url('fonts/freightdispbold-webfont.eot');
  src: url('fonts/freightdispbold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/freightdispbold-webfont.woff2') format('woff2'),
       url('fonts/freightdispbold-webfont.woff') format('woff'),
       url('fonts/freightdispbold-webfont.ttf') format('truetype'),
       url('fonts/freightdispbold-webfont.svg#freightdispblackregular') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {

  font-family: 'trade';
  src: url('fonts/384D39_0_0.eot');
  src: url('fonts/384D39_0_0.woff2') format('woff2'),
       url('fonts/384D39_0_0.woff') format('woff'),
       url('fonts/384D39_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {

  font-family: 'trade';
  src: url('fonts/3073A2_0_0.eot');
  src: url('fonts/3073A2_0_0.woff2') format('woff2'),
       url('fonts/3073A2_0_0.woff') format('woff'),
       url('fonts/3073A2_0_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  
  font-family: 'canela';
  src: url('fonts/Canela-Light-Web.woff');
  src: url('fonts/Canela-Light-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  
  font-family: 'canela';
  src: url('fonts/Canela-LightItalic-Web.woff');
  src: url('fonts/Canela-LightItalic-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  
  font-family: 'canela';
  src: url('fonts/Canela-Medium-Web.woff');
  src: url('fonts/Canela-Medium-Web.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  
  font-family: 'canela';
  src: url('fonts/Canela-MediumItalic-Web.woff');
  src: url('fonts/Canela-MediumItalic-Web.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;

}
